<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Payments Home - FLutterwave Inline</title>
</head>
<body>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/flutterwave_logo.png" alt="Flutterwave Logo" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5 mb-5">
            <h1>Pay with Flutterwave Inline</h1>
        </div>

        <form action="">
            <script src="https://checkout.flutterwave.com/v3.js"></script>
            <div class="form-group">
                <div class="row mt-5 mb-5">
                    <div class="col-md-4 offset-md-4">
                        <button type="button" onClick="makePayment()" class="btn btn-primary btn-block">Make Payment</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

    

    <script>

        function makePayment() {
            FlutterwaveCheckout({
                public_key: "",
                tx_ref: "876564",
                amount: 10,
                currency: "UGX",
                country: "UG",
                payment_options: "mobilemoneyuganda",
                // redirect_url: "http://localhost:5000/payment-made",
                // meta: {
                //     consumer_id: 23,
                //     consumer_mac: "92a3-912ba-1192a"
                // },
                customer: {
                    email: "john@example.com",
                    phone_number: "0789123456",
                    name: "John Doe"
                },
                callback: function (data) {
                    console.log(data)
                },
                onclose: function() {
                    // close modal
                },
                customisations: {
                    title: "My store",
                    description : "Payment for items in cart",
                    logo: "https://assets.piedpiper.com/logo.png"
                }
            })
        }

    </script>
    
</body>
</html>